{% extends 'layouts/security-admin-layout.html' %}

{% block title %}Honeypot | Pages Visited{% endblock %}

{% block content %}
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Session</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> User Sessions</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="userSessions" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Date / Time</th>
                  <th>Page</th>
                  <th>Session_id</th>
                  <th>No of Visits</th>
                  <th></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Date / Time</th>
                  <th>Page</th>
                  <th>Session_id</th>
                  <th>No of Visits</th>
                  <th></th>
                </tr>
              </tfoot>
              <tbody id="customer-table">
                {% for row in data %}
                  <tr>
                    <td>{{ row['first_visited'] }}</td>
                    <td>{{ row['name'] }}</td>
                    <td>{{ row['session'] }}</td>
                    <td>{{ row['visits'] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated at <span id="session-update-time"></span></div>
      </div>
    </div>
{% endblock %}