{% extends 'layouts/security-admin-layout.html' %}

{% block title %}Honeypot | IP{% endblock %}

{% block content %}
   <div class="content-wrapper">
    <div  style="margin-left: 50px;">
        <div class="form-group">
        <form action="/blockAction" method="POST">  
            <label>Select an Ip : </label><select name="ip" class="form-control selcls">
                <OPTION  value="" SELECTED>--SELECT--</OPTION>
            {% for ip in ips %}
            <OPTION  value="{{ip['ip']}}" SELECTED>{{ip['ip']}}</OPTION>
            {% endfor %}
            </select><br>
            <button type="submit" class="btn btn-success">Block USer</button>
        </form>  
    <br><br>
    <form action="/unBlockAction" method="POST">  
        <label>Select an Ip : </label><select name="ip" class="form-control selcls">
            <OPTION  value="" SELECTED>--SELECT--</OPTION>
        {% for block_ip in blocked_ips %}
        <OPTION  value="{{block_ip['ip']}}" SELECTED>{{block_ip['ip']}}</OPTION>
        {% endfor %}
        </select><br>
        <button type="submit" class="btn btn-danger">Unblock User</button>
    </form>  
      </div>
     </div>
    </div>
{% endblock %}