{% extends 'layouts/security-admin-layout.html' %}

{% block title %}SB Admin - Start Bootstrap Template{% endblock %}

{% block content %}
   <div class="content-wrapper">
    <div  style="margin-left: 50px;">
        <div class="form-group">
        <form action="/blockAction" method="POST">  
            <label>Select an Ip : </label><select name="ip" class="form-control selcls">
            {% for ip in ips %}
            <OPTION  value="{{ip[0]}}" SELECTED>{{ip[0]}}</OPTION>
            {% endfor %}
            </select><br>
            <button type="submit" class="btn btn-success">Block Ip</button>
        </form>  
    <br><br>
    <form action="/unBlockAction" method="POST">  
        <label>Select an Ip : </label><select name="ip" class="form-control selcls">
        {% for block_ip in blocked_ips %}
        <OPTION  value="{{block_ip[0]}}" SELECTED>{{block_ip[0]}}</OPTION>
        {% endfor %}
        </select><br>
        <button type="submit" class="btn btn-danger">Unblock Ip</button>
    </form>  
      </div>
     </div>
    </div>
{% endblock %}